.contact{
  background: #35776d;
}

.contact a{
  color: #fff;
}

.contact i{
  color:#fff;
  padding: 10px;
}

.school-info{
  
}

.school-info .title{
  padding-bottom: 10px;
}

.school-info .time{
  padding-bottom: 10px;
}

.school-info h2{
  color:#fff;
  text-align: center;
}

.school-info h3{
  color:#fff;
  text-align: center;
  font-size: 14px
}

.school-info h4{
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.school-info .time{
  color: #fff;
  text-align: center;
  font-size: 10px;
}

.hobbies{

}

.hobbies h2{
  color:#fff;
  text-align: center;
}

.hobbies li{
  color:#fff;
  text-align: center;
}

.info-content{
  
}

.info-content .fa{
  width: 30px;
  height: 30px;
  margin-right: 8px;
  color: #fff;
  border-radius: 50%;
  background: #35776d;
  text-align: center;
  padding-top: 8px;
  font-size: 16px;
  position: relative;
  top: -2px;
}

.info-content .fas{
  width: 30px;
  height: 30px;
  margin-right: 8px;
  color: #fff;
  border-radius: 50%;
  background: #35776d;
  text-align: center;
  padding-top: 8px;
  font-size: 16px;
  position: relative;
  top: -2px;
}

.info-content p{
margin-left: 25px;
}

.info-content .upper{
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}

.info-content .job-title{
   margin-top: 0;
  margin-bottom: 0;
}

.info-content .job-time{
   margin-top: 0;
  margin-bottom: 0;
}

.divider{
  border-top: 1px solid #8c8b8b;
}

.content-know {
}

.content-know h3{
font-size: 16px;
}

.content-know .por1{
  width:10%;
}

.content-know .por2{
  width:20%;
}

.content-know .por3{
  width:30%;
}

.content-know .por4{
  width:40%;
}

.content-know .por5{
  width:50%;
}

.content-know .por6{
  width:60%;
}

.content-know .por7{
  width:60%;
}

.content-know .por8{
  width:60%;
}

.content-know .por9{
  width:60%;
}

.content-know .por10{
  width:60%;
}

.foot{
  text-align: center;
  background: #E5E8E8;

}
